/* Burger button */
.burger {
  font-size: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: none;
  text-align: left;
}

/* Hide checkbox input */
#menu-toggle {
  display: none;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: #ffffff;
  padding-top: 2rem;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  color: #000000;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  display: block;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #444;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  #menu-toggle:checked ~ .sidebar {
    transform: translateX(0);
  }
}
